html { 
  height: 100% ;
  background-color: #A5BFDD;
}

.container {
  margin: 20px 0 20px 0;
  width: 100%;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
  text-align: center;
  
}

h1 {
  font-size: 200%;
  font-family: 'Kaushan Script', cursive;
}


body { 
  height: 100%; margin: 0; padding: 0 
}

#map-canvas { 
  height: 100%; 
  width: 70%;
  float: right;
  margin-right: 2%;
}

#sidebar-nav {
  height: 100%;
  width: 25%;
  margin-left: 2%;
  border: 1px solid red; 
  float: left;
}
