
<div class="container">
  <h1>Welcome to MapTimes!</h1>
  <a href="/oauth/connect">Connect with Instagram</a>

<!-- <form id='latlong' method='post' action='/location'>
  <span>Latitude: <input type='text' id='latbox' name='lat'>
  Longitude: <input type='text' id='lngbox' name='long'></span>
  <input type='submit' value='submit'>
</form> -->
</div>

<!-- <div id='current-loc'>
  No location yet...
</div> -->

<div id="sidebar-nav"/>
</div>

<div id="map-canvas"/>
</div>



