<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6-GuPmDLWPlFldrbgoHXhL7s_sR8KFUI&sensor=false">
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/map_draw.js"></script>
  
  <title>Map times!</title>
</head>
<body>
  <%= yield %>
</body>
</html>
